<h1>Welcome to Uniq Flowers App </h1>
    <a href="/">Home</a>
    <div>
        <a href="/all">See All Here</a>
        <p>If you do not want to Signup, you can still view flower collections by using the search option.</p>
        <p>Some unique flowers collection being Monkey orchid, Flying Duck, Swaddled Babies etc. For more, Signup</p>
        <form action="/search"method="get">
            <input type="text" name="name">
            <button>Search</button>
      </form>
    </div>