<h1>Add Flower</h1>
<div class="new">
<form action="/flowers" method="POST">
  <label for="">Name: </label>
  <input type="text" name="name">
    <br>
    <br>
  <label for="">Region: </label>
  <input type="text" name="region">
    <br>
    <br>
  <label for="">Family: </label>
  <input type="text" name="family">
    <br>
    <br>
  <label for="">Img url: </label>
  <input type="text" name="image_url">
    <br>
    <br>
  <button>Add</button>
</form>
</div>